.oberflow {
    overflow-y: scroll;
    
  }
  
  .oberflow::-webkit-scrollbar {
    width: 4px; /* Adjust the width of the scrollbar */
  }
  
  .oberflow::-webkit-scrollbar-thumb {
    background-color: #d7d7d7; /* Set the color of the scrollbar thumb */
    border-radius: 5px; /* Optional: round the corners of the thumb */
  }