@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  
    margin: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: row;
    align-content: flex-start;
  }
  

  .apexcharts-datalabels-group{
    display:none !important
  }

  body {
    background-color: #fff ;
    /* display: flex;
    justify-content: center; */
    width: 100%;

  }
  .progress-ring{
    border-radius: 90%;
    
  }