
/* Default styles for screens wider than 1400px */
.Frame217 {
  width: 330px;
}

/* Media query for screens between 1200px and 1400px */
@media screen and (max-width: 1400px) and (min-width: 1200px) {
  .Frame217 {
    width: 260px;
  }
}


/* Media query for screens between 1000px and 1200px */
@media screen and (max-width: 1300px) and (min-width: 1200px) {
  .Frame217 {
    width: 700px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 1200px) {
  .Frame217 {
    width: 600px;
  }
}


/* Media query for screens between 800px and 1000px */
@media screen and (max-width: 900px) and (min-width: 800px) {
  .Frame217 {
    width: 500px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 900px) {
  .Frame217 {
    width: 500px;
  }
}


/* Media query for screens between 600px and 800px */
@media screen and (max-width: 800px) and (min-width: 600px) {
  .Frame217 {
    width: 180px;
  }
}

/* Media query for screens between 400px and 600px */
@media screen and (max-width: 600px) and (min-width: 400px) {
  .Frame217 {
    width: 160px;
  }
}

/* Media query for screens between 200px and 400px */
@media screen and (max-width: 400px) and (min-width: 200px) {
  .Frame217 {
    width: 146px;
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scrolling-text {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.animate-scroll .scrolling-text {
  width: 100%;
  overflow: hidden;
}

.animate-scroll:hover .scrolling-text {
  animation: scrollRight 5s linear infinite; /* Adjust duration and timing function as needed */
}
